*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

     /* Neutral */

    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
.container article img{
    width: 100%;
    border-radius: .5rem;
}
body{
    font-family: 'Outfit';
    font-size: 18px;
    background: var(--main-BG);
    padding: 2rem;
    color: hsl(0, 0%, 100%, 40%);
}

.container{
    background: var(--card-BG);
    padding: 1.25rem;
    border-radius: .8rem;
}
.container .main-image div img{
    width: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.container .main-image{
    position: relative;
}
.container .main-image div{
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 50%);
    width: 100%;
    height: calc(100% - 4px);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: .8rem;
}
.container .main-image div:hover{
    opacity: 1;
    cursor: pointer;

}


.container h1{
    color: hsl(0, 0%, 100%);
    margin: 1.5rem 1.5rem 1.5rem 0rem;
}
.container h1:hover{
    color: var(--Cyan);
    cursor: pointer;
}

.container ul{
    margin-top: 1.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--line);
    padding-bottom: 1rem;
}

.container ul li{
    display: flex;
    align-items: center;
}
.container ul li:first-child{
    color: var(--Cyan);
}
.container ul li img{
    margin-right: 0.5rem;
}

.container .avatar{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1.25rem;
}

.container .avatar img{
    width: 3rem;
    border: 2px solid var(--White);
    border-radius: 50%;
    margin-right: .5rem;
}
.container .avatar p span{
    color: var(--White);
    font-weight: 400;
}
.container .avatar p span:hover{
    color: var(--Cyan);
    cursor: pointer;
}


@media screen and (min-width: 500px) {
    .container{
        width: 450px;
        margin: 0 auto 1rem;
    }
}

.attribution{
text-align: center;
margin-top: 1.25rem;

}
.attribution a{
    color: hsl(0, 0%, 100%, 70%);
    text-decoration: none;
}
